<header class="flex items-center justify-between md:justify-start gap-8 h-25">
  <h2 class="text-xl md:text-3xl font-bold text-foreground">
    {{ shop.name | link_to: routes.root_url | upcase }}
  </h2>

  <div class="hidden md:flex gap-4 flex-1">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url, class: 'text-sm font-medium text-gray-900 hover:text-accent transition' }}
    {% endfor %}
  </div>

  <div class="flex gap-4 items-center">
    {{
      'icon-search.svg'
      | inline_asset_content
      | link_to: routes.search_url, class: 'size-6 text-gray-600 block hover:text-foreground transition'
    }}

    {% if shop.customer_accounts_enabled %}
      {{
        'icon-account.svg'
        | inline_asset_content
        | link_to: routes.account_url, class: 'size-6 text-gray-600 block hover:text-foreground transition'
      }}
    {% endif %}

    <a href="{{ routes.cart_url }}" class="text-gray-600 block hover:text-foreground transition relative">
      {% if cart.item_count > 0 %}
        <sup class="absolute -top-2 -right-2 bg-accent text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">
          {{- cart.item_count -}}
        </sup>
      {% endif %}

      <div class="size-6">
        {{ 'icon-cart.svg' | inline_asset_content }}
      </div>
    </a>
  </div>
</header>

{% stylesheet %}
  header a {
    position: relative;
    text-decoration: none;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
