<header class="flex items-center justify-between md:justify-start gap-8 h-25" x-data="{ mobileMenuOpen: false }">
  <div class="flex gap-4 items-center">
    <button class="block md:hidden" @click="mobileMenuOpen = true">
      {{ 'icon-menu.svg' | inline_asset_content }}
    </button>
    <h2 class="text-xl md:text-3xl font-bold text-foreground">
      {{ shop.name | link_to: routes.root_url }}
    </h2>
  </div>

  {% comment %} Desktop Menu {% endcomment %}
  <nav class="hidden md:flex gap-4 flex-1">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url, class: 'text-sm font-medium text-gray-900 hover:text-accent transition' }}
    {% endfor %}
  </nav>

  {% comment %} Mobile Menu {% endcomment %}
  <nav
    x-cloak
    x-show="mobileMenuOpen"
    x-transition:enter="transition motion-reduce:transition-none ease-out duration-300"
    x-transition:enter-start="-translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition motion-reduce:transition-none ease-out duration-300"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="-translate-x-full"
    id="mobileMenu"
    class="fixed max-h-svh overflow-y-auto h-screen inset-x-0 top-0 z-50 flex flex-col rounded-b-radius border-b border-outline bg-white p-6 md:hidden"
  >
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-xl md:text-3xl font-bold text-foreground">
        {{ shop.name | link_to: routes.root_url }}
      </h2>
      <button @click="mobileMenuOpen = false">{{ 'icon-x.svg' | inline_asset_content }}</button>
    </div>

    <ul class="divide-y divide-foreground/50">
      {% for link in section.settings.menu.links %}
        <li>
          {{
            link.title
            | link_to: link.url, class: 'text-lg font-medium text-gray-900 hover:text-accent transition py-4 block'
          }}
        </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="flex gap-4 items-center">
    {{
      'icon-search.svg'
      | inline_asset_content
      | link_to: routes.search_url, class: 'size-6 text-gray-600 block hover:text-foreground transition'
    }}

    {% if shop.customer_accounts_enabled %}
      {{
        'icon-account.svg'
        | inline_asset_content
        | link_to: routes.account_url, class: 'size-6 text-gray-600 block hover:text-foreground transition'
      }}
    {% endif %}

    <a href="{{ routes.cart_url }}" class="text-gray-600 block hover:text-foreground transition relative">
      {% if cart.item_count > 0 %}
        <sup class="absolute -top-2 -right-2 bg-accent text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">
          {{- cart.item_count -}}
        </sup>
      {% endif %}

      <div class="size-6">
        {{ 'icon-cart.svg' | inline_asset_content }}
      </div>
    </a>
  </div>
</header>

{% stylesheet %}
  header a {
    position: relative;
    text-decoration: none;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
